.git
.env
.vscode
backup
dist
docs/.vitepress/cache
environments/**/access_token.txt
environments/**/backup.sql
environments/**/refresh_token.txt
environments/**/data
environments/**/src
node_modules
test*
