# This is a sample env file, for your reference.
# Also used by shellcheck for parsing a sample static env file.

# These are all required and will be added by touch-env.sh if they don't exist
ROOT_PASSWORD=123
DB_NAME=moodle
DB_USERNAME=moodleuser
DB_PASSWORD=123
MOODLE_HOST=sample.local

# The WWWROOT is a critical config but if you don't provide it in the .env, the restore
# command will just prompt you for it during the restore process.
WWWROOT=http://sample.local

# These configurations are for a development or staging environment only, to point to the
# remote server information for backing up or syncing from the remote server.
SOURCE_HOST=mymoodle.sample.dev
SOURCE_DATA_PATH=/var/www/mymoodle.sample.dev/data/moodledata
SOURCE_SRC_PATH=/var/www/mymoodle.sample.dev/html/moodle
SOURCE_DB_NAME=moodle
SOURCE_DB_USERNAME=moodleuser
SOURCE_DB_PASSWORD=your-password-here

# These configuration are for integration with Box, for copying backups to online storage.
BOX_CLIENT_ID=obtain-from-box-developer-console
BOX_CLIENT_SECRET=obtain-from-box-developer-console
BOX_REDIRECT_URI=obtain-from-box-developer-console
BOX_FOLDER_ID=0
